$col-red: #8b0000;
$col-yellow: #e4dc8a;
$col-black: #111;
$col-primary: #cfa63d;
$col-bg: #2e2e2e;
$col-text: #eee;

$col-gold-1: #cfe63d;
$col-gold-2: #cfd63d;
$col-gold-3: #cfc63d;
$col-gold-4: #cfb63d;
$col-gold-5: #cfa63d;