.Login {
  max-width: 600px;
  padding: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  border: 1px solid #d1cfcf;
  border-radius: 12px;
  box-shadow: #a7a6a6 4px 4px 20px 0px;
  
  h1 {
    text-align: center;
  }

  .SingIn {
    margin-left: 15px;
  }
}